<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Taco Tuesday!</title>
	<!-- CSS -->
	<link rel="stylesheet" href="/assets/css/taco_style.css" type="text/css" />
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	 crossorigin="anonymous"></script>
	<!-- Javascript -->
	<script src="/assets/js/tacos.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>