<h1>Taco Tuesday!</h1>

<h2>Tacos on Sale</h2>

<ul>
    {{#each tacos}}
    {{#unless vegetarian}}
    {{> tacos/taco-block vegetarian=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Picked Up</h2>

<ul>
    {{#each tacos}}
    {{#if vegetarian}}
    {{> tacos/taco-block vegetarian=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Taco</h2>
<form class="create-form">

    <div class="form-group">
        <label for="taco">Taco Name:</label>
        <input type="text" id="taco" name="name">
    </div>

    <div class="form-group">
        <label for="taco">Tacos</label><br>
        <input type="radio" name="vegetarian" value="0" checked> Ground Beef<br>
        <input type="radio" name="vegetarian" value="0" checked> Spicy Beef<br>
        <input type="radio" name="vegetarian" value="0" checked> Queso-Chorizo<br>
    </div>

    <button type="submit">Add Taco</button>
</form>